---
layout: default
title: Galeria
permalink: /galeria/
---

<nav>
    <div class="nav-wrapper container">
        <a href="{{ site.github.url | prepend: site.url }}/" class="brand-logo">
            <b>PRO</b><em>STUDIO</em>
        </a>
        <a href="#" data-activates="side-nav" class="button-collapse"><i class="fa fa-navicon"></i></a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="{{ site.github.url | prepend: site.url }}/galeria/" title="Galeria">Galeria</a>
            </li>
            <li>
                <a href="{{ site.github.url | prepend: site.url }}/#servicos" title="Serviços">Serviços</a>
            </li>
            <li>
                <a href="{{ site.github.url | prepend: site.url }}/#sobre" title="Quem Somos">Quem Somos</a>
            </li>
        </ul>
        
        <ul id="side-nav" class="side-nav">
            <li class="active">
                <img src="{{ site.github.url | prepend: site.url }}/assets/img/brand/logotipo.jpg" alt="Logotipo" class="responsive-img">
            </li>
            <li>
                <a href="{{ site.github.url | prepend: site.url }}/galeria/" title="Galeria">Galeria</a>
            </li>
            <li>
                <a href="{{ site.github.url | prepend: site.url }}/#servicos" title="Serviços">Serviços</a>
            </li>
            <li>
                <a href="{{ site.github.url | prepend: site.url }}/#sobre" title="Quem Somos">Quem Somos</a>
            </li>
        </ul>
    </div>
</nav>    
    <main class="container">
        {% include galeria-imagens.html %}
        {% include galeria-videos.html %}
    </main>
</div>