<section class="container">
    <div class="icon-block center">
        <i class="fa fa-envelope fa-5x"></i>
    </div>
    <h3 class="light center">Contactos</h3>
    <hr>
    
    <p class="light">Bairro Matundo, RDK, EN7</p>
    <p class="light">Cidade de Tete, Provincia de Tete, Moçambique</p>
    <p class="light">Tel/Cel: 846101512</p>
    <p class="light">Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
    
    <ul class="inline-list center">
        <li>
            <a href="{{ site.github.url | prepend: site.url }}/assets/modelo-briefing-website.pdf" title="Modelo de Contrato">Contrato</a>
        </li>
        <li><a href="#" title="Termos & Condições">Termos & Condições</a></li>
        <li><a href="#" title="Políticas de privacidade">Políticas de privacidade</a></li>
    </ul>
</section>