<footer class="page-footer">
    <div class="container">
        <div class="row">
            <ul class="col s12 l4">
                <li>
                    <a href="{{ site.github.url }}/assets/modelo-briefing-website.pdf" target="_blank" title="Contracto">Contracto</a>
                </li>
                <li>
                    <a href="#" title="Termos & Condições">Termos & Condições</a>
                </li>
                <li>
                    <a href="#" title="Políticas de Privacidade">Políticas de Privacidade</a>
                </li>
            </ul>
            
            <ul class="col s12 l4 inline-list">
                <li>
                    <a href="{{ site.facebook }}" class="btn-floating btn-flat waves-effect"><i class="fa fa-lg fa-facebook"></i></a>
                </li>
                <li>
                    <a href="{{ site.youtube }}" class="btn-floating btn-flat waves-effect"><i class="fa fa-lg fa-youtube"></i></a>
                </li>
                <li>
                    <a href="mailto:{{ site.email }}" class="btn-floating btn-flat waves-effect"><i class="fa fa-lg fa-envelope"></i></a>
                </li>
            </ul>
            
            <address class="col s12 l4">
                <summary>
                    Endereço: Bairro Matundo, EN7, Cidade de Tete, Moçambique.
                    <details>
                        Cel: <i class="fa fa-whatsapp"></i>+258 846-101-512
                        Email: <i class="fa fa-envelope"></i> {{ site.email }}
                    </details>
                </summary>
            </address>
        </div><!-- row -->
    </div><!-- container -->
    
    <div class="footer-copyright">
        <div class="container">
           Copyright &copy; 2016 {{ site.name }}
            <div class="right">Desenvolvido por <a href="http://zinenda.github.io/iztech">IZTech&trade;</a></div>
        </div>
    </div>
</footer>