<h3 class="center white-text">Galeria de videos</h3>
<hr>
<ul class="collapsible popout">
    <li>
        <div class="collapsible-header waves-effect waves-block waves-light">
            <img src="{{ site.url }}{{ site.img_dir }}/slider/izinenda/20150624_134225_HDR.JPG" alt="Ivo Zinenda" class="circle">
            <b>Cliente: Ivo Zinenda</b>
            <br>
            <span class="thin">Categoria: Videos</span>
        </div>
        <div class="collapsible-body">
            <div class="row">
                <article class="col s12 l12">
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/watch?v=F01l8kyOzgA" frameborder="0" allowfullscreen></iframe>
                    </div>
                </article>
                
                <article class="col s12 l12">
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/watch?v=F01l8kyOzgA" frameborder="0" allowfullscreen></iframe>
                    </div>
                </article>
                
                <article class="col s12 l12">
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/watch?v=F01l8kyOzgA" frameborder="0" allowfullscreen></iframe>
                    </div>
                </article>
            </div>
        </div>
    </li>
</ul>