<h3 class="center">Galeria de imagens</h3>
<hr>

<section class="row">
    <div class="col s12 l4">
    <div class="card">
        <div class="card-image">
            <img src="{{ site.github.url | prepend: site.url }}{{ site.img_dir }}/slider/izinenda/20150624_134225_HDR.JPG" class="responsive-img">
        </div>
        <div class="card-content">
            Nome: Ivo Zinenda
            <br>
            <time datetime="{{ site.time }}">{{ site.time | date_to_string }}</time>
            <br>
            Tipo: Fotografias pessoais
        </div>
        <div class="card-action">
            <a href="#" onclick="openSlider()" class="btn-flat">Mais imagens</a>
        </div>
    </div>
</div>
</section>

<div id="galeria-imagem" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeSlider()"><i class="fa fa-lg fa-close"></i></a>
    
    <div class="container overlay-content">
        <div class="row">
            {% image_set assets/img/slider/izinenda --class=responsive-img  %}
        </div>
    </div>
</div>