<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="pt">
    
    <meta name="keywords" content="{{ site.keywords }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.github.url }}/assets/img/brand/logo.jpg"/>
    <meta name="theme-color" content="#2c3e50">
    {% seo %}
    <meta name="reply-to" content="{{ site.author.email }}">
    <meta name="author" content="{{ site.author.name }}">
    <link rel="author" href="{{ site.author.google }}">
    <link rel="publisher" href="{{ site.github.url }}">
    
    <link rel="stylesheet" href="{{ site.github.url }}{{ site.css_dir }}/main.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,700,700italic' rel='stylesheet'>
</head>