<section id="modal1" class="modal">
    <article class="modal-content">
        <section class="slider">
            <ul class="slides">
                <li>
                    <img src="{{ site.img_dir }}/galery/city-lights-night-rooftop.jpg" alt="Aranha ceu" class="responsive-img materialboxed">
                </li>
                <li>
                    <img src="{{ site.img_dir }}/galery/night-dark-lights-hotel.jpg" alt="Complexo iluminado" class="responsive-img materialboxed">
                </li>
                <li>
                    <img src="{{ site.img_dir }}/galery/skyline.jpg" alt="Edificio Abu Dhabi" class="responsive-img materialboxed">
                </li>
            </ul>
        </section>
    </article>
</section>