<section id="sobre" class="container section scrollspy">
    <br><br>
    <div class="icon-block">
        <h3 class="center"><i class="fa fa-lg fa-users"></i></h3>
    </div>
    <h3 class="center">Quem Somos</h3>
    <hr>
    <section class="row">
        <article class="col s12 l6">
            <p class="light">
                {{ site.name }}, criada por um estudante de Engenharia Civil, com um simples proposito, oferecer um fotográfico de qualidade, além de alguns serviços exclusivos. <br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi optio qui suscipit error, quas repellat earum officia doloremque magni consequuntur odit eos quia ipsa labore cum, quibusdam soluta laudantium! Odit.
            </p>
        </article>
        <article class="col s12 l6">
            <p class="light">
                {{ site.name }}, was founded by a Engeneering studant, with just a simple prepose to offer a photographer quality services. <br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid id nostrum quibusdam ipsa, vero minus expedita, omnis explicabo, non eligendi? Aut repellat, harum dolore quam vel ea necessitatibus nisi.
            </p>
        </article>
    </section>
</section>
<div class="parallax-container">
    <div class="parallax">
        <img src="{{ site.img_dir }}/galery/window.jpg" alt="Parallax">
    </div>
</div>