---
---

@charset "utf-8";

$primary-color: #FFCA28 !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;
$link-color: #FF5722 !default;

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

main, section, article {
    flex: 1 0 auto;
}

h1,
h2 {
    text-align: center;
    font-style: oblique;
    color: #000;
    text-shadow: -1px 2px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

nav.nav-wrapper {
    opacity: .5;
}

a {
    text-decoration: none;
    color: $link-color;
    &:hover {
       text-decoration: none;
       color: #d35400;
    }
}

img.center {
    margin: 0 auto;
}

.inline-list {
    display: inline-flex;
}

.icon-block {
    display: block;
    color: $primary-color;
}
.icon-block i {
    font-style: inherent
}

#galeria {
    background: url('../img/galery/pexels-photo.jpg');
    background-size: cover;
    width: 100%;
    min-height: 100%;
}

.parallax-container {
    height: 100%;
}

.collapsible {
    .collapsible-header {
        min-height: 90px;
        padding-left: 72px;
        position: relative;
        
        
        img.circle {
            position: absolute;
            width: 45px;
            height: 45px;
            overflow: hidden;
            left: 15px;
            display: inline-block;
            vertical-align: middle;     
        }
        
        i.circle {
        font-size: 18px;
        line-height: 42px;
        color: #fff;
        background-color: #999;
        text-align: center;
      }
    }
}

.image-set {
    display: inline-block;
}

@import 
    "materialize",
    "animate",
    "font-awesome"
;